.leftButtons{
    -fx-background-color:transparent;
    -fx-text-fill:black;
    -fx-border-width:0 0 0.2 0;
    -fx-border-color:white;
    -fx-background-radius:0;
    -fx-border-radius:0;

}
.leftButtons: hover{
    -fx-background-color:white;
    -fx-text-fill:gray;
    -fx-border-radius:0;
    -fx-background-radius:0;
    -fx-font-size:17px;
}

.leftButtons: pressed{
    -fx-background-color:#EEE7E8;
    -fx-text-fill:gray;
    -fx-border-radius:0;
    -fx-background-radius:0;
    -fx-font-size:17px;
}

.textFields{
    -fx-border-color:#9E8266;
    -fx-border-width:0 0 1 0;
    -fx-border-radius:0;
    -fx-background-color:transparent;
    -fx-prompt-text-fill:#9E8266;
    -fx-font-weight:bold;
    -fx-text-fill:red;
}

.textFields: hover{
    -fx-border-color:gray;
    -fx-border-width:0 0 3 0;
    -fx-border-radius:0;
    -fx-background-color:transparent;
    -fx-font-size:17px;
    -fx-prompt-text-fill:gray;
}

.textFields: focused{
    -fx-border-color:#9E8266;
    -fx-border-width:0 0 3 0;
    -fx-border-radius:0;
    -fx-background-color:transparent;
    -fx-prompt-text-fill:#9E8266;
    -fx-text-fill:#9E8266;
    -fx-font-size:17px;
}

.buttons{
    -fx-background-color:#9E8266;
    -fx-background-radius:0;
    -fx-text-fill:white;
    -fx-border-width:0 0 0 0;
    -fx-border-color:#213ddd;
    -fx-font-size:12px;

}

.buttons: hover{
    -fx-background-color:transparent;
    -fx-background-radius:0;
     -fx-text-fill:gray;
     -fx-border-width:1 1 1 1;
     -fx-border-color:#9E8266;
     -fx-font-size:17px;
}

.buttons: pressed{
    -fx-background-color:#EEE7E8;
    -fx-text-fill:gray;
    -fx-border-radius:0;
    -fx-background-radius:0;
    -fx-font-size:17px;
}

.buttons2{
    -fx-background-color:#9E8266;
    -fx-background-radius:0;
    -fx-text-fill:white;
    -fx-border-width:0 0 0 0;
    -fx-border-color:#213ddd;
    -fx-font-size:12px;

}

.buttons2: hover{
    -fx-background-color:transparent;
    -fx-background-radius:0;
     -fx-text-fill:gray;
     -fx-border-width:1 1 1 1;
     -fx-border-color:#9E8266;
}

.buttons2: pressed{
    -fx-background-color:#EEE7E8;
    -fx-text-fill:gray;
    -fx-border-radius:0;
    -fx-background-radius:0;
}



.table-view{
    -fx-border-width:1 1 1 1;
    -fx-border-color:#29E8266;
}

.table-view .column-header,.table-view .column-header .filter, .table-view .column-header-background .filter{
    -fx-border:5px;
    -fx-alignment:right;
    -fx-background-color:white;
    -fx-text-fill:#9E8266;



}

.table-view,column-header, .label{
    -fx-text-fill:#9E8266;
    -fx-alignment:left;
}
.table-cell{
    -fx-background:black;
    -fx-text-fill:#777b7e;
    -fx-text-alignment:center;

}

.panes{
     -fx-background-color:white;
     -fx-background-radius:0;
}
.panes:hover{
     -fx-effect:dropshadow(two-pass-box ,#213ddd,30,0.0,0.1,3);

}
.panes:pressed{
    -fx-background-color:#fffdd0;

}

.panesUsers{
     -fx-background-color:white;
     -fx-background-radius:0;
}
.panesUsers:hover{
     -fx-effect:dropshadow(two-pass-box ,white,30,0.0,0.1,3);

}
.panesUsers:pressed{
    -fx-background-color:#fffdd0;

}
